In [8]:
## This was an attempt to get a unique id for both the authorization and red team table. 
#This did not make it into my final sample because when I ran the new table in databricks 
#for a sanity check I found that when I grouped the data the ID was not unique to both sets. 
#I found that there was not enough data on the red team to make it unique, and if I just added
#a numeric ID to the AUthorization table, I would not be able to join the data that I wanted. 

#import dependencies

from pyspark.sql import functions as sf
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,BooleanType

spark = SparkSession.builder.appName("sample authorization table").getOrCreate()

In [ ]:
#Since there isn't a schema for the data we need to manually create it from the information we got from LANL
#Got this from https://www.youtube.com/watch?v=K14plpZgy_c approx 19:45


# Read in data and store in dataframe using authSchema
df = spark.read.csv("sample3.txt",inferSchema=True).toDF("Time","SourceUserDomain","DestinationUserDomain",
                                                        "SourceComputer","DestinationComputer","AuthenticationType",
                                                        "LogonType","AuthenticationOrientation","SuccessFailure")

In [10]:
df.printSchema()

root
 |-- Time: integer (nullable = true)
 |-- SourceUserDomain: string (nullable = true)
 |-- DestinationUserDomain: string (nullable = true)
 |-- SourceComputer: string (nullable = true)
 |-- DestinationComputer: string (nullable = true)
 |-- AuthenticationType: string (nullable = true)
 |-- LogonType: string (nullable = true)
 |-- AuthenticationOrientation: string (nullable = true)
 |-- SuccessFailure: string (nullable = true)

In [11]:
#Jupyter notebook
df.show(5)

+----+--------------------+---------------------+--------------+-------------------+------------------+---------+-------------------------+--------------+
|Time|    SourceUserDomain|DestinationUserDomain|SourceComputer|DestinationComputer|AuthenticationType|LogonType|AuthenticationOrientation|SuccessFailure|
+----+--------------------+---------------------+--------------+-------------------+------------------+---------+-------------------------+--------------+
|   1|ANONYMOUS LOGON@C586| ANONYMOUS LOGON@C586|         C1250|               C586|              NTLM|  Network|                    LogOn|       Success|
|   1|ANONYMOUS LOGON@C586| ANONYMOUS LOGON@C586|          C586|               C586|                 ?|  Network|                   LogOff|       Success|
|   1|          C101$@DOM1|           C101$@DOM1|          C988|               C988|                 ?|  Network|                   LogOff|       Success|
|   1|         C1020$@DOM1|         SYSTEM@C1020|         C1020|              C1020|         Negotiate|  Service|                    LogOn|       Success|
|   1|         C1021$@DOM1|          C1021$@DOM1|         C1021|               C625|          Kerberos|  Network|                    LogOn|       Success|
+----+--------------------+---------------------+--------------+-------------------+------------------+---------+-------------------------+--------------+
only showing top 5 rows

In [19]:
df = df.withColumn('ID', sf.concat(sf.col('Time'),sf.col('DestinationComputer'), sf.col('SourceComputer'))).drop('joined_column')


df.show()

+----+--------------------+---------------------+--------------+-------------------+------------------+---------+-------------------------+--------------+-----------+
|Time|    SourceUserDomain|DestinationUserDomain|SourceComputer|DestinationComputer|AuthenticationType|LogonType|AuthenticationOrientation|SuccessFailure|         ID|
+----+--------------------+---------------------+--------------+-------------------+------------------+---------+-------------------------+--------------+-----------+
|   1|ANONYMOUS LOGON@C586| ANONYMOUS LOGON@C586|         C1250|               C586|              NTLM|  Network|                    LogOn|       Success| 1C586C1250|
|   1|ANONYMOUS LOGON@C586| ANONYMOUS LOGON@C586|          C586|               C586|                 ?|  Network|                   LogOff|       Success|  1C586C586|
|   1|          C101$@DOM1|           C101$@DOM1|          C988|               C988|                 ?|  Network|                   LogOff|       Success|  1C988C988|
|   1|         C1020$@DOM1|         SYSTEM@C1020|         C1020|              C1020|         Negotiate|  Service|                    LogOn|       Success|1C1020C1020|
|   1|         C1021$@DOM1|          C1021$@DOM1|         C1021|               C625|          Kerberos|  Network|                    LogOn|       Success| 1C625C1021|
|   1|         C1035$@DOM1|          C1035$@DOM1|         C1035|               C586|          Kerberos|  Network|                    LogOn|       Success| 1C586C1035|
|   1|         C1035$@DOM1|          C1035$@DOM1|          C586|               C586|                 ?|  Network|                   LogOff|       Success|  1C586C586|
|   1|         C1069$@DOM1|         SYSTEM@C1069|         C1069|              C1069|         Negotiate|  Service|                    LogOn|       Success|1C1069C1069|
|   1|         C1085$@DOM1|          C1085$@DOM1|         C1085|               C612|          Kerberos|  Network|                    LogOn|       Success| 1C612C1085|
|   1|         C1085$@DOM1|          C1085$@DOM1|          C612|               C612|                 ?|  Network|                   LogOff|       Success|  1C612C612|
|   1|         C1151$@DOM1|         SYSTEM@C1151|         C1151|              C1151|         Negotiate|  Service|                    LogOn|       Success|1C1151C1151|
|   1|         C1154$@DOM1|         SYSTEM@C1154|         C1154|              C1154|         Negotiate|  Service|                    LogOn|       Success|1C1154C1154|
|   1|         C1164$@DOM1|          C1164$@DOM1|          C625|               C625|                 ?|  Network|                   LogOff|       Success|  1C625C625|
|   1|          C119$@DOM1|           C119$@DOM1|          C119|               C528|          Kerberos|  Network|                    LogOn|       Success|  1C528C119|
|   1|         C1218$@DOM1|          C1218$@DOM1|         C1218|               C529|          Kerberos|  Network|                    LogOn|       Success| 1C529C1218|
|   1|         C1235$@DOM1|          C1235$@DOM1|          C586|               C586|                 ?|  Network|                   LogOff|       Success|  1C586C586|
|   1|         C1241$@DOM1|         SYSTEM@C1241|         C1241|              C1241|         Negotiate|  Service|                    LogOn|       Success|1C1241C1241|
|   1|         C1250$@DOM1|          C1250$@DOM1|         C1250|               C586|          Kerberos|  Network|                    LogOn|       Success| 1C586C1250|
|   1|         C1314$@DOM1|          C1314$@DOM1|         C1314|               C467|          Kerberos|  Network|                    LogOn|       Success| 1C467C1314|
|   1|          C144$@DOM1|          SYSTEM@C144|          C144|               C144|         Negotiate|  Service|                    LogOn|       Success|  1C144C144|
+----+--------------------+---------------------+--------------+-------------------+------------------+---------+-------------------------+--------------+-----------+
only showing top 20 rows

In [25]:
#write df to csv
df.write.csv('sampleclean.csv')

In [23]:
rdf = spark.read.csv("redteam.txt", header=True, inferSchema=True).toDF("Time","UserDomain","SourceComputer","DestinationComputer")

In [28]:
from pyspark.sql.functions import lit
rdf = rdf.withColumn('ID', sf.concat(sf.col('Time'),sf.col('DestinationComputer'), sf.col('SourceComputer'))).withColumn("redteam", lit(True))
rdf.show()

+------+----------+--------------+-------------------+-----------------+-------+
|  Time|UserDomain|SourceComputer|DestinationComputer|               ID|redteam|
+------+----------+--------------+-------------------+-----------------+-------+
|151036| U748@DOM1|        C17693|               C305| 151036C305C17693|   true|
|151648| U748@DOM1|        C17693|               C728| 151648C728C17693|   true|
|151993|U6115@DOM1|        C17693|              C1173|151993C1173C17693|   true|
|153792| U636@DOM1|        C17693|               C294| 153792C294C17693|   true|
|155219| U748@DOM1|        C17693|              C5693|155219C5693C17693|   true|
|155399| U748@DOM1|        C17693|               C152| 155399C152C17693|   true|
|155460| U748@DOM1|        C17693|              C2341|155460C2341C17693|   true|
|155591| U748@DOM1|        C17693|               C332| 155591C332C17693|   true|
|156658| U748@DOM1|        C17693|              C4280|156658C4280C17693|   true|
|210086| U748@DOM1|        C18025|              C1493|210086C1493C18025|   true|
|210294| U748@DOM1|        C18025|              C1493|210294C1493C18025|   true|
|210312| U748@DOM1|        C18025|              C1493|210312C1493C18025|   true|
|218418| U748@DOM1|        C17693|               C504| 218418C504C17693|   true|
|227052| U748@DOM1|        C17693|               C148| 227052C148C17693|   true|
|227408| U748@DOM1|        C17693|               C148| 227408C148C17693|   true|
|227520| U748@DOM1|        C17693|               C148| 227520C148C17693|   true|
|227780| U748@DOM1|        C17693|               C148| 227780C148C17693|   true|
|228024| U748@DOM1|        C17693|               C148| 228024C148C17693|   true|
|228150| U748@DOM1|        C17693|               C148| 228150C148C17693|   true|
|228642|U1723@DOM1|        C17693|               C231| 228642C231C17693|   true|
+------+----------+--------------+-------------------+-----------------+-------+
only showing top 20 rows

In [26]:
#write rdf to csv
rdf.write.csv('redsampleclean.csv')